body{
    font-size: x-large;
}
.top, .bottom, .whiteBlock{
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-direction: column;
}

.WhiteBlock{
    display: flex;
    height: 5vh;
}
.footer{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftDiv1{
    padding-left: 1vw;
    padding-right: 1vw;
    background-color:bisque;
    text-align: center;
    min-height: 20vh;
}

.rightDiv2{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    min-height: 20vh;
    text-align: right;
    background-color: rgb(112, 160, 232);
}

.rightDiv3{
    padding-left: 1vw;
    padding-right: 1vw;
    min-height: 30vh;
    text-align: center;
    background-color: rgb(155, 200, 225);
}

.leftDiv4{
    min-height: 20vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    background-color: rgb(120, 210, 120);
    flex-direction: row;
}

.rightDiv5{
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap:break-word;
    padding-left: 1vw;
    padding-right: 1vw;
    min-height: 20vh;
    text-align: left;
    background-color: rgb(112, 160, 232);

    width: 60vw;
}

.rightDiv5 div{
    width: 20vw;
}

.menulist{
    margin-top: 1px;
    width: 20vw;
}

.menulist li{
    list-style-type: none;
    padding-top: 1vh;
}

.menulist li a{
    font-size: 50px;
    background-color: rgb(243, 209, 75);
    border-right: 5px solid rgb(111, 13, 13);
}

#topHeader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    width: 50vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 36, 36);
    opacity: 0.9;
}

#bottomHeader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    width: 50vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 36, 36);
    opacity: 0.9;
}
